VITE_SUPABASE_URL=https://sbyaqepaoqebyagyyobh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNieWFxZXBhb3FlYnlhZ3l5b2JoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NzM3NzYsImV4cCI6MjA4OTU0OTc3Nn0.jKhLQpv1aXHE3C5XDpwYvPCkgsHzNRE1wOx07CgsyNU
VITE_API_URL=http://localhost:8000
